<div class="main top-main">
  <div class="top-message">
    <h2>最愛のSMパートナーを見つける</h2>
    <h2>Luna</h2>　<p>へようこそ</p>
    <p>LunaはSMやSMに関わる方たちが集まるメンバーサイトです。</p>
    <p>あなたのことを登録頂くと、登録メンバーを検索することができます。</p>
    
    <p>18歳以上です</p>
    <p>利用規約、プライバシーポリシーに同意します。</p>
    
  </div>
</div>