<div class="main top-main">
  <div class="top-message">
    <h2>最愛のSMパートナーを見つける</h2>
    <h2>Luna</h2>
    <p>アカウントをお持ちの方はこちら</p>
    <p>ログイン・新規登録でお困りの方へ</p>
    
      <% if logged_in? %>
    <%= link_to 'ログアウト', logout_path %>
  <% else %>
    <a href="/auth/twitter">ログイン</a>
  <% end %>
    
    
  </div>
</div>